.Reader-app {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Reader-header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
    text-align: center;
    background: #B2FEFA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0ED2F7, #B2FEFA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0ED2F7, #B2FEFA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: rgb(64, 64, 64);
    z-index: 1;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.reader-buttonWrapper {
    width: fit-content;
    height: fit-content;
}

.Reader-pageButton {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(64, 64, 64);
    border-style: none;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 1.25em;
    font-weight: 800;
    vertical-align: middle;
    text-align: center;
}

.Reader-text {
    /* height: 100%; */
    width: 90%;
    max-width: 600px;
    text-align: left;

    position: absolute;
    top: 80px;
    z-index: -1;
    padding-top: 10px;

    line-height: 1.75em;
    font-weight: 300;
    font-family: sans-serif;
}

.Reader-text h3 {
    font-weight: 700;
}