.Login-loginFormBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 200px;
    border-style: solid;
    border-width: 1px;
    border-color: #808080;
    border-radius: 5px;
}

.Login-loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Login-displayErrors input:invalid {
    /* color: salmon; */
}

.Login-loginInput {
    border-bottom: 1px solid #808080;
    margin-top: 10px;
    margin-bottom: 5px;
}

.Login-loginInput input {
    color: #404040;
    outline-style: none;
    border-style: none;
    font-size: 1.0em;
}

.Login-errorMessage {
    font-size: 0.75em;
    color: salmon;
    text-align: center;
}

.Login-noAccount {
    text-align: center;
    font-size: 0.75em;
}
.Login-noAccount a {
    color: #0ED2F7;
    cursor: pointer;
}
.Login-noAccount a:hover {
    text-decoration: underline;
}

.Login-submit {
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: #0ED2F7;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    outline: none;
    padding: 5px;
    font-size: 1.0em;
    background-color: #0ED2F7;
    transition: background-color 0.25s ease;
    color: white;
} 
.Login-submit:hover {
    background-color: transparent;
    transition: background-color 0.25s ease;
    color: #0ED2F7;
    cursor: pointer;
}
.Login-submit:focus {
    /* background-color: #0ED2F7;
    color: white; */
}

@keyframes shake {
    from, to {
      transform: translate3d(0, 0, 0);
    }

    12.5%, 37.5%, 62.5%, 87.5% {
      transform: translate3d(-5px, 0, 0);
    }

    25%, 50%, 75% {
      transform: translate3d(5px, 0, 0);
    }
  }
  
  .Login-shake {
    animation-name: shake;
    animation-duration: 1s;
  }