/* http://www.cssarrowplease.com/ */
/* TODO: Animate on open and close */
	/* https://github.com/reactjs/react-modal/issues/125 */
	/* https://github.com/reactjs/react-modal/issues/334 */

.ReaderMenu-arrowBox {
	/* position: relative; */
	position: relative;
	top: 70px;
	width: 300px;
	margin: 0 auto;
	padding: 8px;
	/*  */
	display: flex;
	flex-direction: column;
	align-items: center;
	/*  */
	background: #FFFFFF;
	border: 1px solid #404040;
	border-radius: 5px;
	outline: none;
}
.ReaderMenu-arrowBox:after, .ReaderMenu-arrowBox:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.ReaderMenu-arrowBox:after {
	/* border-color: rgba(255, 255, 255, 0); */
	border-bottom-color: #FFFFFF;
	border-width: 10px;
	margin-left: -10px;
}
.ReaderMenu-arrowBox:before {
	/* border-color: rgba(64, 64, 64, 0); */
	/* border-bottom-color: #404040; */
	border-width: 11px;
	margin-left: -11px;
}

.ReaderMenu-overlay {
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	/* background-color: rgba(128, 128, 128 ,0.8); */
}

.ReaderMenu-item {
	font-size: 1.5em;
	color: #404040;
}

.ReaderMenu-dividingLine {
	width: 250px;
	height: 1px;
	background-color: #C0C0C0;
	border-width: 0px;
}