.Header-container {
    position: fixed;
    width: 100%;
    height: 80px;

    background: #B2FEFA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0ED2F7, #B2FEFA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0ED2F7, #B2FEFA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.Header-title {
    position: fixed;
    margin-top: 40px;
    left: 50%;
    transform: translate(-50%, -55%);

    text-align: center;
    color: #404040;
    font-size: 2.0em;
    font-weight: 700;

    cursor: pointer;
}

.Header-leftButton {
    position: fixed;
    left: 20px;
    margin-top: 40px;
    transform: translateY(-50%);

    font-size: 1.5em;
    color: #404040;

    cursor: pointer;
}
.Header-leftButton a {
    color: #404040;
    text-decoration: none;
}

.Header-rightButton {
    position: fixed;
    right: 20px;
    margin-top: 40px;
    transform: translateY(-50%);

    font-size: 1.5em;
    color: #404040;

    cursor: pointer;
}
.Header-leftButton a {
    color: #404040;
    text-decoration: none;
}